.icon {
    &--next {
        width: rem(10px);
        height: rem(9px);
    }
    &--loupe {
        width: rem(19px);
        height: rem(19px);
    }
    &--left {
        margin-right: rem(9px);
    }
    &--right {
        margin-left: rem(10px);
    }
    &--cursor-right {
        width: rem(6px);
        height: rem(10px);
    }
    &--logo {
        width: rem(137px);
        height: rem(32px);
    }
    &--logo-small {
        width: rem(93px);
        height: rem(18px);

        @media #{$screen-desktop} {
            width: rem(135px);
            height: rem(30px);
        }
    }
    &--youtube {
        width: rem(23px);
        height: rem(16px);
    }
    &--instagram {
        width: rem(23px);
        height: rem(23px);
    }
    &--star {
        width: rem(21px);
        height: rem(21px);
    }
    &--heart {
        width: rem(13px);
        height: rem(12px);
    }
    &--comment {
        width: rem(13px);
        height: rem(12px);
    }
    &--eye {
        width: rem(14px);
        height: rem(8px);
    }
    &--important {
        width: rem(20px);
        height: rem(20px);
    }
    &--question {
        width: rem(20px);
        height: rem(20px);
    }
    &--burger-menu {
        width: rem(20px);
        height: rem(14px);
    }
    &--profile {
        width: rem(25px);
        height: rem(25px);
    }
    &--close {
        width: rem(12px);
        height: rem(12px);
    }
    &--apply {
        width: rem(11px);
        height: rem(8px);
    }
}
