.main {
    &__content {
        padding: rem(30px) $padding-small;

        border-radius: $border-radius-medium;
        background-color: $color-background-block;
        box-shadow: $box-shadow;

        @media #{$screen-tablet} {
            padding: $padding-normal $padding-medium;
        }

        @media #{$screen-desktop} {
            padding: $padding-normal $padding-huge;
        }
        &--page-index {
            background-color: $color-background-main;
            border-radius: none;
            box-shadow: none;
            padding: 0;
            margin: 0 rem(20px);
            @media #{$screen-desktop} {
                margin: 0;
            }
        }
    }
    &__item {
        margin-right: rem(20px);

        color: $heather;
    }
    &__link {
        color: $heather;
        &:hover {
            color: $slate-gray;
        }
        &--active {
            color: $slate-gray;
        }
    }
    &__icon {
        margin-left: rem(20px);
    }
    &__list {
        display: flex;
        flex-wrap: wrap;

        padding: rem(3px) 0;
    }
    &__navigation {
        margin: rem(30px) 0 rem(15px);
        @media #{$screen-desktop} {
            margin-top: 0;
        }
    }
    &__header {
        margin: 0 rem(20px);
        @media #{$screen-desktop} {
            margin: 0;
        }
    }
    &__description {
        margin: rem(40px) 0;
        @media #{$screen-tablet} {
            margin-top: $margin-normal;
            max-width: rem(600px);
        }
        @media #{$screen-desktop} {
            margin-top: rem(61px);
            max-width: rem(621px);
        }
    }
}
