.profile {
    &__mobile {
        @media #{$screen-tablet} {
            display: none;
        }
    }
    &__name {
        display: none;

        @media #{$screen-tablet} {
            font-size: $font-size-small;
            line-height: 120%;

            display: block;
            overflow: hidden;

            max-width: rem(78px);
            margin-top: rem(1px);
            margin-right: rem(11px);
            margin-left: auto;

            transition: $transition;
            white-space: nowrap;
            text-overflow: ellipsis;

            color: $slate-gray;
            &:hover {
                cursor: pointer;

                color: $color-text-main;
            }
        }
    }
    &__avatar {
        display: none;

        @media #{$screen-tablet} {
            position: relative;

            display: block;

            width: rem(40px);
            height: rem(40px);

            border-radius: 50%;
            // background: url(/public/images/profile.jpg) no-repeat center/cover;
            background-color: $athens-gray;
        }
    }
    &__icon {
        position: absolute;
        top: 5%;
        left: 50%;

        transform: translateX(-50%);
    }
    &__photo {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}
