* {
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    font-family: $font-family-custom, $font-family-default;
    font-size: 100%;

    color: $color-text-main;
    background-color: $color-background-main;
}

body {
    margin: 0;
    padding: 0;

    font-size: $font-size-normal;
    font-weight: $font-weight-regular;
    line-height: $line-height-medium;

    text-rendering: optimizeLegibility;
}

main:not([class]) {
    padding: rem(30px) $padding-small;
    background-color: $color-background-block;
    box-shadow: $box-shadow;
    border-radius: $border-radius-medium;

    @media #{$screen-tablet} {
        padding: $padding-normal $padding-medium;
    }

    @media #{$screen-desktop} {
        padding: $padding-normal $padding-huge;
    }
}

h1 {
    margin-top: 0;
    margin-bottom: $margin-small;

    @include heading-huge;
}

h2 {
    margin-top: 0;
    margin-bottom: $margin-very-small;

    @include heading-large;
}

h3 {
    margin-top: $margin-small;
    margin-bottom: $margin-very-small;

    @include heading-medium;
}

h4 {
    margin-top: 0;
    margin-bottom: $margin-very-small;

    @include heading-normal;
}

p {
    margin: $margin-very-small 0;
    @include paragraph;
}

ol {
    margin: 0;
    padding-left: rem(20px);
    counter-reset: li;

    font-size: $font-size-small;
    font-weight: $font-weight-regular;
    line-height: $line-height-small;

    @media #{$screen-tablet} {
        font-size: $font-size-normal;
    }

    & > li {
        list-style: none;
        margin: $margin-very-small 0;

        & > ol > li::before {
            content: counters(li, ".") "";
        }

        & > ol > li {
            padding-left: rem(4px);

            & > ul {
                padding-left: 35px;
            }
        }
    }

    & > li::before {
        color: $cerise-red;
        display: inline-block;
        text-align: center;
        min-width: rem(14px);
        margin-right: rem(10px);
        counter-increment: li;
        content: counters(li, ".") ". ";
    }
}

ul {
    margin: 0;
    list-style-type: none;
    padding-left: rem(20px);

    & li {
        position: relative;
        padding-left: rem(15px);
        margin: $margin-very-small 0;

        & ul {
            list-style-type: none;
            padding-left: 0;

            & li::before {
                background-color: transparent;
                border: 1px solid $cerise-red;
            }
        }
    }

    & li::before {
        content: "";
        position: absolute;
        top: rem(5px);
        left: 0;
        width: rem(5px);
        height: rem(5px);
        border-radius: 50%;
        background-color: $cerise-red;
    }
}

blockquote {
    font-size: $font-size-small;
    margin: $margin-very-small 0 $margin-small;
    padding: $padding-small rem(25);
    border-radius: $border-radius-medium;
    background-color: $color-background-main;
    border-left: 5px solid $cerise-red;

    @media #{$screen-tablet} {
        font-size: $font-size-normal;
    }
}

a {
    color: $color-link-main;

    text-decoration-line: none;
    transition: $transition;

    @include link;

    &:hover,
    &:focus {
        text-decoration-line: underline;
    }

    &:active {
        opacity: 0.5;
    }
}

img {
    width: 100%;
    height: 100%;
}
