/*
    Colors
*/

// Переменные со статическими цветами
$bunker: #121920;
$white: #fff;
$heather: #bbc4d6;
$slate-gray: #768298;
$curious-blue: #34aadd;
$wild-blue-yonder: #6680ae;
$tundora: #4b4b4b;
$carnation: #f95a59;
$cerise-red: #dc2c53;
$tapestry: #a7507b;
$athens-gray: #ebebf1;
$alabaster: #fafafa;

// Динамические цветовые переменные
$color-text-main: $bunker;
$color-text-main-inverse: $white;
$color-text-main-medium: $heather;
$color-text-main-medium-dark: $slate-gray;

$color-link-main: $curious-blue;

$color-background-main: $alabaster;
$color-background-block: $white;

/*
    Fonts
*/

$font-path: "./../fonts";
$font-family-default: "Arial", "Helvetica", sans-serif;
$font-family-custom: "Roboto";
$font-Regular: "Regular";
$font-Medium: "Medium";

$font-weight-regular: 400;
$font-weight-medium: 500;

$font-size-base: 16px;

$font-size-very-huge: rem(36px);
$font-size-huge: rem(30px);
$font-size-large: rem(24px);
$font-size-medium: rem(18px);
$font-size-normal: rem(16px);
$font-size-small: rem(14px);
$font-size-very-small: rem(12px);

$line-height-huge: 200%;
$line-height-large: 167%;
$line-height-medium: 130%;
$line-height-normal: 127%;
$line-height-small: 117%;

/*
    Breakpoints
*/

$screen-tablet: "(min-width: #{rem(768px)})";
$screen-desktop: "(min-width: #{rem(1280px)})";

/*
    Layout
*/

$margin-huge: rem(110px);
$margin-large: rem(100px);
$margin-medium: rem(59px);
$margin-normal: rem(50px);
$margin-small: rem(20px);
$margin-very-small: rem(10px);

$padding-huge: rem(110px);
$padding-medium: rem(59px);
$padding-normal: rem(50px);
$padding-small: rem(20px);

/*
    Sizes
*/

/*
    Transitions and Animations
*/

$transition: all .5s;

/*
    Radius
*/

$border-radius-large: rem(8px);
$border-radius-medium: rem(5px);

/*
    Box-shadows
*/

$box-shadow: 0 rem(12px) rem(40px) rgba(0, 0, 0, .03), 0 rem(3px) rem(10px) rgba(164, 164, 164, .03);
$box-shadow-light: 0 rem(3px) rem(10px) rgba(0, 0, 0, .05);
/*
    Z-indexes
*/
